html, body {
  overflow-x:hidden;
}
body {
  font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
  background:url("../images/bg/textured_bg.jpg") no-repeat;
  background-size:cover;
  height:100vh;
  text-align: center;
  position: relative;
}
body.secondary {
  background:url("../images/bg/form_bg.jpg") no-repeat;
  background-size:cover;
  height:100vh;
  text-align: center;
  position: relative;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
}
h1 {
  font-weight: 100;
}
h3 {
  font-size: 18px;
  font-weight: 400;
  color: #4A4A4A;
  letter-spacing: 0px;
  margin:0px 0px 30px;
}
a{
  font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
  text-decoration: none;
}

/* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear:both;
}
.one-half, .one-third, .one-fourth {
  width:96%;
  float:left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width:970px;
  }
  .one-half {
    width:46%;
  }
  .one-third {
    width: 29.33333%;
  }
  .one-fourth {
    width:21%;
  }
}
@media (min-width: 1200px) {
  .container {
    width:1170px;
  }
}

/* HEADER */
header {
  background:url("../images/bg/header_bg.jpg");
  background-size:cover;
  width:100%;
  height:100px;
  position:relative;
}
.secondary header {
  background:#EA6C51; 
}
header .logo {
  margin:20px;
  display:inline-block;
  float:left;
}
header nav ul {
  list-style-type: none;
}
header nav ul li {
  display: inline-block;
  margin:20px;
}
header nav ul li a {
  color:#FFF;
}
.right {
  display: inline-block;
  float:right;
}
.avatar {
  display: block;
  margin: 40px auto 20px;
}

.form {
  opacity: 0.8;
  background: #FFFFFF;
  border-radius: 12px;
  padding:40px;
  text-align:center;
  margin:40px auto;
  width:600px;
}
.card {
  background: #FFFFFF;
  border-radius: 12px;
  padding:20px 30px;
}

/* BUTTONS */
button, .btn, input[type="submit"] {
  background: #EA6C51;
  box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.50), inset 3px 1px 3px 0px rgba(0,0,0,0.50);
  border-radius: 12px;
  border:1px solid transparent;
  color:#FFF;
  padding:10px 20px;
}
button:hover, .btn:hover, input[type="submit"]:hover {

}
button.round, .btn.round {
  width:65px;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin:20px auto 0;
  padding:40px 20px;
}

/* FORMS */
input[type="text"] {
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  border-radius: 12px;
  padding:0px 20px;
  color: #EA6C51;
  font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
  font-weight:400;
  text-align: center;
}
.secondary input[type="text"] {
  border-bottom:1px solid #979797;
  border-top:none;
  border-right: none;
  border-left: none;
  border-radius: 0;
  background:transparent;
  display: block;
  margin:40px auto;
  width:200px;
}
::-webkit-input-placeholder {
   color: #EA6C51;
   font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
   font-weight:400;
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   color: #EA6C51;
   font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
   font-weight:400;
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #EA6C51;
   font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
   font-weight:400;
   text-align: center;  
}

:-ms-input-placeholder {  
   color: #EA6C51;
   font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
   font-weight:400;
   text-align: center;  
}
.create {
  width:670px;
  height:60px;
}

/* FOOTER */
footer {
  position: absolute;
  right:0;
  bottom:0;
  width: 100%;
}
footer ul {
  list-style-type: none;
  padding: 0;
  float: right;
}
footer ul li {
  display: inline-block;
  margin:20px;
  color:#333;
}
footer ul li a {
  color:#333;
}
.secondary footer ul li, .secondary footer ul li a {
  color:#FFF;
}













